<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="w-100 vh-100 ">
    <div class="d-flex justify-content-evenly w-100">
    <a href="/" class="text-decoration-none ">Home</a>
    <a href="/login/" class="text-decoration-none ">Login</a>
    <a href="/reg/" class="text-decoration-none ">Register</a>
    </div>
    <img class="w-100 h-75 mt-5  " src="https://img.freepik.com/free-vector/preparing-test-together-learning-studying-with-friends-effective-revision-revision-timetables-planning-how-revise-exams-concept_335657-825.jpg?size=626&ext=jpg&ga=GA1.1.632798143.1705363200&semt=ais">
</body>
</html>